body{
    font-family: 'century-gothic', sans-serif;
}

.SecondParagraph{
    margin-left: 3%;
    margin-top: 15%;
    font-family: 'century-gothic', sans-serif;
}

.ThirdParagraph{
    margin-left: 3%;
    margin-top: 4%;
}

.FourthParagraph{
    margin-top: 10%;
}

.FifthParagraph{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

.ImageBlog{
    width: 60%;
    height: 60%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.ImageBlog2{
    margin-left: 5%;
    margin-bottom: 10%;
    width: 60%;
    height: 60%;
}


.ImageFlower2{
    margin-left: 7%;
}

#Item1{
    margin-left: 2%;
    border-right: black;
}

#Item2{
    margin-top: 5%;
}

.FirstTitle{
   text-align: center;
    font-weight: bold ;
}

.SecondTitle{
    margin-left: 10%;
    font-weight: bold ;
}

.ThirdTitle{
    text-align: center;
    font-weight: bold ;
}

#Flower2{
    width: 22%;
    height: 22%;
    margin-left: 15%;
}

#Flower3{
    width: 22%;
    height: 22%;
    margin-left: 30%;
}

.btn1{
    display: inline-block;
    border-radius: 4px;
    background-color: #ab0d18;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 2%;
}

.btn2{
    display: inline-block;
    border-radius: 4px;
    background-color: #ab0d18;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 2%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.FirstContainer{
    margin-left: 3%;
    width: 50%;
    overflow: hidden;
}

.SecondContainer{
    margin-left: 5%;
    margin-bottom: 3%;
    margin-right: 3%;
    width: 50%;
    
}

.Title1{
    font-weight: bold;
    background-color: #ab0d18;
    color: white;
}

.Title2{
    background-color: #ab0d18;  
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

.First{
    background-color: #ab0d18;  
    margin-bottom: 5px;
    color: white;
}

.Second{
    background-color: #ab0d18;  
    margin-bottom: 5px;
    color: white;
}

.Third{
    background-color: #ab0d18;  
    margin-bottom: 5px;
    color: white;
}