html{
    width: 100%;
}
#photo{
    position: relative;
    width: 100%;
}
#photo1{
    width: 50%;
}
#photo2{
    width: 50%;
}
#pro {
    position: absolute;
    top: 80%;
    left: 17%;
    padding-left: 1%;
    padding-right: 1%;
    color: black;
    font-family: century-gothic, sans-serif;
    text-decoration: none;
    border: 2px white solid;
    background-color: white;
}
#pro:visited{
    color: black;
}
#part{
    position: absolute;
    top: 80%;
    left: 70%;
    padding-left: 1%;
    padding-right: 1%;
    font-family: century-gothic, sans-serif;
    text-decoration: none;
    border: 2px white solid;
    background-color: white;
}
#part:link{
    color: black;
}
#part:visited{
    color: black;
}