/* Footer */
#contact{
    text-align: center;
    margin-top: 3%;
    line-height: 100%;
    font-family: 'Arima Madurai', cursive;
    font-size: large;
}
.contact{
    color: black;
    font-size: large;
    margin-top: 5%;
    margin-left: 11%;
}
.form-control{
    background-color: black;
    opacity: 20%;
}
#contactName{
    margin-left: 10%;
    width: 30%;
    margin-bottom: 1%;
}
#ContactEmail{
    margin-right: 10%;
    width: 30%;
}
#ContactMessage{
    margin-left: 10%;
    margin-bottom: 2%;
    width: 60%;
}