/* Header */

#Choice{
    text-align: center;
    margin-top: 2%;
}
#Presentation{
    text-align: center;
    margin-top: 1%;
    font-family: 'Arima Madurai', cursive;
}
#Title{
    font-family: 'Sacramento', cursive;
    font-size: 300%;
    /* line-height: 50%; */
}
#Subtitle{
    font-size: 150%;
    line-height: normal;
}
#Pro{
    padding: 1%;
    text-decoration: none;
    font-family: 'Arima Madurai', cursive;
}
#Pro:link{
    color: #000000;
}
#Pro:visited{
    color: #000000;
}
#Pro:hover{
    color: #ab0d18;
    
}
#Part{
    padding: 1%;    
    text-decoration: none;
    font-family: 'Arima Madurai', cursive;
}
#Part:link{
    color: #000000;
}
#Part:visited{
    color: #000000;
}
#Part:hover{
    color: #ab0d18;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}

.li-client{
    list-style: none;
}

#Fr{
    font-family: 'Arima Madurai', cursive;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
}
#Fr:link{
    color: black;
    text-decoration: none;
}
#Fr:visited{
    color: black;
}
#Fr:hover{
    color: #ab0d18;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}

.menu{
    display: flex;
    flex-direction: row;
}

.li-cat{
    list-style: none;
    margin-left: 2%;
    margin-right: 2%;
}

.a-cat{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Arima Madurai', cursive;
    padding: 10%;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
}

.a-cat:hover{
    color: #ab0d18;
    border-radius: 2px;
    /*background-color: rgba(231, 231, 231, 0.63);*/
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}

.li-cat::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ab0d18;
    transition: width .3s;
}
.li-cat:hover::after {
    width: 130%;
    color: #ab0d18;
}

.menu {
    margin-left: 35%;
    width: 65%;
    animation-duration: 1.5s;
    animation-name: slideMenu;
  }
  
  @keyframes slideMenu {
    from {
      margin-left: 60%;
      width: 150%;
    }
  
    to {
      margin-left: 35%;
      width: 65%;
    }
  }
