/* Header */
#Choice{
    text-align: center;
    margin-top: 2%;
}
#Presentation{
    text-align: center;
    margin-top: 1%;
    font-family: 'monotype-modern-display', cursive;
}
#Title{
    font-family: 'century-gothic', sans-serif;
    font-size: 500%;
    /* line-height: 50%; */
}
#Subtitle{
    font-size: 150%;
    line-height: normal;
}
.Pro{
    position: absolute;
    top: 5%;
    left: 10%;
    padding: 0.5%;
    text-decoration: none;
    font-family: 'century-gothic', sans-serif;
}
.Pro:link{
    color: #ab0d18;
}
.Pro:visited{
    color: #ab0d18;
}
.Pro:hover{
    color: #ab0d18;
}
.Part{
    position: absolute;
    top: 5%;
    left: 20%;
    padding: 0.5%;
    text-decoration: none;
    font-family: 'century-gothic', sans-serif;
}
.Part:link{
    color: #ab0d18;
}
.Part:visited{
    color: #ab0d18;
}
.Part:hover{
    color: #ab0d18;
}
#Fr{
    font-family: 'century-gothic', sans-serif;
}
#Fr:link{
    color: black;
    text-decoration: none;
}
#Fr:visited{
    color: black;
}
#Fr:hover{
    color: #ab0d18;
}