header{
    font-family: century-gothic, sans-serif;
}
#navbar{
    display: flex;
    flex-direction: row;
}

.navbar{
    height: 120px;
}

#logo{
    margin-left: 200px;
    width: 10%;
}

.nav-item{
     width: 50%;
}
a:link{
    color:black;
    text-decoration: none;
}
a:visited{
    color: black;
}


