/* Header */
#Choice{
    text-align: center;
    margin-top: 2%;
}
#Presentation{
    text-align: center;
    margin-top: 1%;
    font-family: 'century-gothic', sans-serif;
}
#Title{
    font-family: 'monotype-modern-display', cursive;    
    font-size: 350%;
    /* line-height: 50%; */
}
#Subtitle{
    font-size: 150%;
    line-height: normal;
}
.Pro{
    padding: 0.5%;
    text-decoration: none;
    font-family: 'century-gothic', sans-serif;
}
.Pro:link{
    color: black;
}
.Pro:visited{
    color: black;
}
.Pro:hover{
    color: #ab0d18;
}
.Part{
    padding: 0.5%;
    text-decoration: none;
    font-family: 'century-gothic', sans-serif;
}
.Part:link{
    color: black;
}
.Part:visited{
    color: black;
}
.Part:hover{
    color: #ab0d18;
}
#Fr{
    font-family: 'century-gothic', sans-serif;
}
#Fr:link{
    color: black;
    text-decoration: none;
}
#Fr:visited{
    color: black;
}
#Fr:hover{
    color: #ab0d18;
}
/* Body */
#Description{
    margin-bottom: 4%;
    margin-top: 4%;
    font-family: 'century-gothic', sans-serif;
}
#Choice2{
    margin-top: 5%;
    margin-bottom: 5%;
}
.Pro2{
    border-radius: 2%;
    padding: 1%;
    text-decoration: none;
    font-weight: 700;
    font-family: 'century-gothic', sans-serif;
}
.Pro2:link{
    color: black;
}
.Pro2:visited{
    color: black;
}
.Pro2:hover{
    color: black;
}
.Part2{
    border-radius: 2%;
    padding: 1%;
    text-decoration: none;
    font-weight: 700;
    font-family: 'century-gothic', sans-serif;
}
.Part2:link{
    color: black;
}
.Part2:visited{
    color: black;
}
.Part2:hover{
    color: black;
}

/* Footer */
#contact{
    text-align: center;
    margin-top: 3%;
    line-height: 100%;
    font-family: 'century-gothic', sans-serif;
    font-size: large;
}
.contact{
    color: black;
    font-size: large;
    margin-top: 5%;
    margin-left: 11%;
}
.form-control{
    background-color: black;
    opacity: 20%;
}
#contactName{
    margin-left: 10%;
    width: 30%;
    margin-bottom: 1%;
}
#ContactEmail{
    margin-right: 10%;
    width: 30%;
}
#ContactMessage{
    margin-left: 10%;
    margin-bottom: 2%;
    width: 60%;
}
