
article{
    font-family: 'century-gothic', sans-serif;
}

h2{
    font-family: 'timberline', sans-serif;
}
#cat-PP{
    font-family: 'timberline', sans-serif;
    text-align: center;
    margin-top: 5%;
    animation-duration: 3s;
    animation-name: slideTitle;
}
@keyframes slideTitle{
    from{
        margin-left:0%  
    }
    to{
        text-align: center;
    }
}

#box-desc{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}
.caracter{
    width: 40%;
}
#perso{
    margin-left: 12%;
    margin-top: 10%;
}
#inspi{
    margin-top: 7%;
}
#exp{
    margin-top: 15%;
    margin-left: 12%;
}

.img-parfum{
    width: 100%;
    -webkit-transition: all 0.8s ease-in-out;
}

.img-parfum:hover{
    opacity: 80%;
    -webkit-transform: scale(1.05);
}
#inspi-parfum{
    margin-left: 12%;
}
.div-parfum{
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}


#art{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nom-art{
    width: 20%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center
}

#cit{
    text-align: center;
    margin-bottom: 10%;
}