article{
    font-family: 'Arima Madurai', cursive;
}

h2{
    font-family: timberline, sans-serif;
}
#cat-PP{
    font-family: timberline, sans-serif;
    text-align: center;
    margin-top: %;
}

#box-desc{
    display: flex;
    flex-wrap: wrap;
}
.caracter{
    width: 40%;
    margin-top: 10%;
}
#perso{
    margin-left: 20%;
}
#inspi{
    margin-top: 15%;
}
#exp{
    margin-left: 10%;
}

.img-parfum{
    width: 100%;
    margin-top: 20%;
    margin-left: 10%;
    
}
#perso-parfum{
    width: 30%;
}
#img-perso{
    margin-right: 300px;
}
#inspi-parfum{
    width: 45%;
    margin-left: 5%;
}
#exp-parfum{
    width: 35%;

}

#art{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nom-art{
    width: 20%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#cit{
    text-align: center;
    margin-bottom: 10%;
}